.header{
    position:absolute;
    top:0;
    left: 0;
    z-index: 4;
    width: 100vw;
    height:8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background:var(--color-dark);
    color:var(--color-light)
}