.header{
    position:absolute;
    top:8vh;
    left: 25vw;
    z-index: 4;
    width: 50vw;
    height:10vh;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background:var(--color-dark);
    color:var(--color-light)
}

.header__date{
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 300;
}

@media only screen 
  and (max-device-width: 1150px) 
  and (min-device-width: 480px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .header{
        padding: 1rem;
        width: 86vw;
        left:7vw;
        top:5vh;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .header{
        flex-direction: column;
        padding: 1rem;
        width: 50vw;
        top:7vh;
        left:7vw;
        height:10vh;
    }

    .header__date{
        font-size: 1rem;
    }
}
