.current{
    width: 100%;
    height:100%;
    padding: 1rem;
}

.current__wrap__temp__icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.current__wrap__temp__text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-right: solid 1px var(--color-light);
    padding-right:1rem
}

.current__temp__deg{
    font-weight: 200;
}

.current__temp__deg__value{
    font-size: 4em;
    letter-spacing: 2px;
}

.current__temp__deg__symbol{
    font-size: 2.8rem;
    margin: 0.2rem;

}

.current__icon{
    transform: scale(1.2);
}

.current__description{
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 200;
}

.current__wrap__details{
    width:100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.current__wrap__details__category{
    width: 100%;
    margin-top: 1.5rem;

}
.current__details__category__title{
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: overline;
}
.current__wrap__details__inline{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0.8rem 0;
    border-bottom: 1px solid var(--color-light);
}

.current__inline__text{
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.current__inline__text:nth-of-type(1){
    padding-left: 0.3rem;
}

.current__inline__text:nth-of-type(2){
    padding-right: 0.3rem;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .current{
        height:40vh;
    }

    .current__inline__text{
        font-size: 0.9rem;
        font-weight: 400;
    }

}

