.daily{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
}

.daily__wrap__text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-right:solid 1px var(--color-light);
    padding-right: 0.5rem;
}

.daily__temp__text{
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: 300;
    text-align: end; 
}

.daily__desc__text{
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: end;
    /* padding-top: 0.5rem;   */
 
}

.daily__date__text{
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 500;
    padding-top: 0.5rem;  
}

@media only screen 
  and (min-device-width: 0px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 1){
    .daily__desc__text{
        font-size: 1.3rem;
    }

    .daily__temp__text{
        font-size: 1.1rem;
    }

    .daily__desc__text{
        font-size: 1.1rem;  
    }
    

}